{% extends 'base.html' %}

{% block title %}Customers{% endblock %}

{% block content %}
<div class="container">
    <h2>Customers List</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Domain</th>
                <th>Product</th>
                <th>SKU</th>
                <th>Creation Date</th>
                <th>Renew Date</th>
                <th>Subscription Status</th>
                <th>Payment Plan</th>
                <th>Assigned Licence</th>
                <th>Purchaced Licence</th>
                <th>Customer ID</th>
                <th>Cloud ID</th>
                <th>Provision ID</th>
                
            </tr>
        </thead>
        <tbody>
            {% for customer in customers %}
            <tr>
                <td>{{ customer['id'] }}</td>
                <td>{{ customer['domain'] }}</td>
                <td>{{ customer['product'] }}</td>
                <td>{{ customer['sku'] }}</td>
                <td>{{ customer['creation_date'] }}</td>
                <td>{{ customer['renew_date'] }}</td>
                <td>{{ customer['sub_status'] }}</td>
                <td>{{ customer['payment_plan'] }}</td>
                <td>{{ customer['assigned_licence'] }}</td>
                <td>{{ customer['purchaced_licence'] }}</td>
                <td>{{ customer['customer_id'] }}</td>
                <td>{{ customer['cloud_id'] }}</td>
                <td>{{ customer['provision_id'] }}</td>
                <td>
                    <a href="#" class="btn btn-info btn-sm">Edit</a>
                    <a href="#" class="btn btn-danger btn-sm">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
