{% extends 'base.html' %}

{% block title %}Customers{% endblock %}

{% block content %}
<div class="container">
    <h2>Customers List</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Domain</th>
                <th>Product</th>
                <th>SKU</th>
                <th>Creation Date</th>
                <th>Renew Date</th>
                <th>Subscription Status</th>
                <th>Payment Plan</th>
                <th>Assigned Licence</th>
                <th>Purchaced Licence</th>
                <th>Customer ID</th>
                <th>Cloud ID</th>
                <th>Provision ID</th>
                
            </tr>
        </thead>
        <tbody>
            {% for customer in customers %}
            <tr>
                <td>{{ customer[0] }}</td>
                <td>{{ customer[1] }}</td>
                <td>{{ customer[2] }}</td>
                <td>{{ customer[3] }}</td>
                <td>{{ customer[4] }}</td>
                <td>{{ customer[5] }}</td>
                <td>{{ customer[6] }}</td>
                <td>{{ customer[7] }}</td>
                <td>{{ customer[8] }}</td>
                <td>{{ customer[9] }}</td>
                <td>{{ customer[10] }}</td>
                <td>{{ customer[11] }}</td>
                <td>{{ customer[12] }}</td>
                <td>
                    <a href="#" class="btn btn-info btn-sm">Edit</a>
                    <a href="#" class="btn btn-danger btn-sm">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
